*{
    font-family: 'Courier New', Courier, monospace;
}

/* By Html by Element */
h1{
    color: red;
}

.text {
    font-size: 20px;
}

#saveButton{
    background-color: green;
}

/* jQuery Selectors
$("h1").hide();

$("p").hide();

$(".text").hide();

$("#saveButton").hide();

*/

.btn-primary{
    background-color: red !important;
}
.my-class{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    letter-spacing: 4px;
    padding: 10px;
    background-color: red;
}