/* Shared stylesheet for every page - Balboa Doggie Care Center */

/* Default Color - Light Mode */
:root{
    --background-color:#f4f4fb;
    --surface-color:#fbfbff;
    --accent-color:#088fff;
    --text-color:#1a2744;
}


/* Dark Mode Colors - Dark Mode */
.dark-mode{
    --background-color: #1a2744;
    --surface-color: #23345a;
    --text-color: #f4f4fb;
    --accent-color: #45adff;
}

/* Apply the Variable: Style the Page */
body{
    background-color: var(--background-color);
    transition: ease 0.6s;
}

form{
    background-color: var(--surface-color);
}

h1{
    color: var(--accent-color);
}

*{
    color: var(--text-color);
}
